html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(121, 121, 121);
}

body {
  width: 250px;
  margin: 3px;
  border-radius: 17px;
  background-color: white;
  min-height: calc(100vh - 6px);
}

.Container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

.startButton {
  cursor: pointer;
  padding: 12px;
  margin-bottom: 10px;
  margin-top: 5px;
  border-radius: 25px;
  border: 1px solid rgb(71, 69, 69);
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {
  width: 20px;
}

.timeContainer button {
  border-radius: 50%;
  border: 1px;
  cursor: pointer;
  margin: 3px;
}

.timeContainer input {
  border: 0;
  border-bottom: 1px solid rgb(71, 69, 69);
}
