.pin {
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
}

.pinDisabled {
  cursor: pointer;
}

.colorChoice {
  cursor: pointer;
  margin-bottom: 4px;
  display: none;
}

.containerHeader {
  display: flex;
  justify-content: space-between;
}

.color {
  width: 19px;
  height: 19px;
  border-radius: 50%;
  border: 1px solid black;
  margin-bottom: 8px;
  cursor: pointer;
}

#yellow {
  background-color: #ffffba;
}

#orange {
  background-color: #ffdfba;
}

#red {
  background-color: #ffb3ba;
}

#green {
  background-color: #baffc9;
}

#blue {
  background-color: #bae1ff;
}

.containerTimer {
  position: relative;
}

.timer {
  font-size: 4rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.breakLogo {
  display: none;
  height: 128px;
  width: 128px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid black;
  animation: clignoter 1s infinite;
}

@keyframes clignoter {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.playPause {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}

.playPause img {
  width: 40px;
  height: auto;
}
