.pin {
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
}

.pinDisabled {
  cursor: pointer;
}

.columColor {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 4px;
  right: 4px;
}

.colorChoice {
  cursor: pointer;
  margin-bottom: 4px;
  display: none;
}

.containerHeader {
  display: flex;
  justify-content: space-between;
}

.color {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid black;
  margin-bottom: 6px;
  cursor: pointer;
}

#yellow {
  background-color: #ffffba;
}

#orange {
  background-color: #ffdfba;
}

#red {
  background-color: #ffb3ba;
}

#green {
  background-color: #baffc9;
}

#blue {
  background-color: #bae1ff;
}

.containerTimer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer {
  font-size: 4rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.breakLogo {
  display: none;
  position: center;
  height: 100px;
  width: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 2px solid black;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.2);
    opacity: 0.6;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.playPause {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

.playPause img {
  width: 40px;
  height: auto;
  cursor: pointer;
}
